<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.topcoder.disasterprep"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".login.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".assessment_intro.AssessmentActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".dashboard.DashboardActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoTitleBar">
        </activity>

        <activity
            android:name=".profile.ProfileActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoTitleBar"/>
        <activity
            android:name=".module.BCModuleActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoTitleBar"/>
        <activity
            android:name=".module.LCModuleActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.LC"/>
        <activity
            android:name=".module.CRModuleActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.CR"/>
        <activity
            android:name=".module.NRModuleActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NR"/>
        <activity
            android:name=".module.ERModuleActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.ER"/>

        <activity
            android:name=".module.progress.ModuleProgressActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoTitleBar"/>
        <activity
            android:name=".module.help.HelpActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoTitleBar"/>
        <activity
            android:name=".assessment.AssessmentActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoTitleBar"/>
        <activity
            android:name=".assessment_certificate.AssessmentInfoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoTitleBar"/>
    </application>

</manifest>